BasedOnStyle:  WebKit
PointerAlignment: Right
Standard:        Cpp11
TabWidth:        4
UseTab:          Never
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: false
ContinuationIndentWidth: 0
IndentCaseLabels: true
MaxEmptyLinesToKeep: 1
